<style>
.trust-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
  text-align:Center;
}
.trust-icon {
    max-width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trust-banner svg {
    height: 60px;
    width: 100px;
}
.trust-title{
text-transform:uppercase;
font-weight:600;
  text-align:Center;
}
</style>

<div class="trust-banner">
<div class="trust-icon">
<img src="{{ block.settings.icon_one | img_url: '300x' }}" />
<span class="trust-title">
{{ block.settings.icon_one_tile }}
</span>
</div>   

<div class="trust-icon">
<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.09 87.09">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #db441a;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
      }
    </style>
  </defs>
  <g id="Body">
    <g>
      <polyline class="cls-1" points="67.29 69.27 77.18 69.27 77.18 79.16"/>
      <path class="cls-1" d="m5.73,26.67c-2.44,5.36-3.72,11.12-3.73,16.88-.02,10.65,4.15,21.32,12.3,29.47s18.63,11.97,29.25,12.08c11.61.11,20.1-3.43,27.7-9.89,1.34-1.14,5.94-5.94,5.94-5.94"/>
      <path class="cls-1" d="m81.36,60.43c2.44-5.36,3.72-11.12,3.73-16.88.02-10.65-4.15-21.32-12.3-29.47-8.03-8.03-18.63-11.97-29.25-12.08-11.61-.11-20.1,3.43-27.7,9.89-1.34,1.14-5.94,5.94-5.94,5.94"/>
      <polyline class="cls-1" points="19.81 17.83 9.91 17.83 9.91 7.94"/>
      <polyline class="cls-1" points="17.83 29.7 43.55 41.57 69.27 29.7"/>
      <line class="cls-1" x1="29.95" y1="35.29" x2="55.67" y2="23.42"/>
      <polyline class="cls-1" points="17.83 29.7 17.83 57.4 43.55 69.27 69.27 57.4 69.27 29.7"/>
      <polyline class="cls-1" points="17.83 29.7 43.55 17.83 69.27 29.7"/>
      <line class="cls-1" x1="43.55" y1="41.57" x2="43.55" y2="69.27"/>
    </g>
  </g>
</svg>
<span class="trust-title">
Easy Returns
</span>
      </div>   

<div class="trust-icon">
<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.48 95.48">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #db441a;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
      }
    </style>
  </defs>
  <g id="Body">
    <g id="receiving_money" data-name="receiving money">
      <g>
        <path class="cls-1" d="m2,69.88l3.16-2.1c.69-.46,1.63-.26,2.07.45l13.19,21.11c.42.68.23,1.57-.43,2.01l-3.23,2.15"/>
        <path class="cls-1" d="m38.89,69.88h14.76c3.25,0,5.9-2.66,5.9-5.9s-2.66-5.9-5.9-5.9h-23.88c-1.75,0-3.46.52-4.91,1.49l-16.27,10.84"/>
        <path class="cls-1" d="m55.56,69.55l25.33-9.52c3-1.24,6.47.2,7.71,3.19,1.24,3-.2,6.47-3.19,7.71l-26.06,11.05c-1.82.77-3.78,1.17-5.76,1.17h-22.98c-1.73,0-3.42.51-4.87,1.46l-5.87,3.86"/>
      </g>
      <g>
        <g>
          <path class="cls-1" d="m89.06,6.43h-5.16l-25.08-2.95h-13.35c-1.87,0-3.69.59-5.21,1.69l-5.79,4.21"/>
          <path class="cls-1" d="m56.6,16.76h-19.18c-3.25,0-5.9,2.66-5.9,5.9h0c0,3.25,2.66,5.9,5.9,5.9h21.4s6.6,5.66,14.02,4.43c8.85-1.48,11.07-4.43,11.07-4.43h5.16"/>
        </g>
        <path class="cls-1" d="m93.48,2h-2.95c-.81,0-1.48.66-1.48,1.48v28.04c0,.81.66,1.48,1.48,1.48h2.95"/>
      </g>
      <g>
        <path class="cls-1" d="m29.89,51.52C11.48,41.93,4.95,24.49,4.95,24.49L30.7,2c1.49,6.11,4.58,10.77,8.64,14.76"/>
        <path class="cls-1" d="m61.52,30.43c8.85,7.38,12,19.54,12,19.54l-6.59,5.58"/>
        <path class="cls-1" d="m56.93,52.17l3.96-3.24s-1.18-3.73.1-6.19l-5.62-5.32"/>
        <path class="cls-1" d="m24.26,17.37l-6.29,6.09s1.18,3.73-1.97,6.78c0,0,3.63,5.01,6.09,6.29"/>
        <path class="cls-1" d="m35.94,28.56c-7.38,4.43-7.64,11.7-4.9,15.16,2.74,3.46,8.58,3.17,13.04-.65,3.82-3.27,5.14-10.08,3.67-13.03"/>
      </g>
    </g>
  </g>
</svg>
<span class="trust-title">
Money Back Guarantee
</span>
      </div>   
</div>